<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FurnacesInHand.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="FurnacesModel" connectionString="Host=10.10.48.24;Database=fttm;Username=Reader;Password=read;Persist Security Info=True" providerName="Npgsql"/>
    <add name="FurnacesModelLocal" connectionString="Host=127.0.0.1;Database=fttm;Username=postgres;Password=5;Persist Security Info=True" providerName="Npgsql"/>
    <add name="FurnacesModelLocalNext" connectionString="Host=127.0.0.1;Database=fttmNext;Username=postgres;Password=5;Persist Security Info=True" providerName="Npgsql"/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <add name="Npgsql Data Provider" invariant="Npgsql" description=".Net Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7"/>
    </DbProviderFactories>
  </system.data>
  <userSettings>
    <FurnacesInHand.Properties.Settings>
      <setting name="firstDatabase" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="secondDatabase" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="numberOfFurnace" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="lowerVoltage" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="upperVoltage" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="lowerCurrent" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="upperCurrent" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="lowerVacuum" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="upperVacuum" serializeAs="String">
        <value>760</value>
      </setting>
      <setting name="lowerUSolenoid" serializeAs="String">
        <value>-50</value>
      </setting>
      <setting name="upperUSolenoid" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="lowerISolenoid" serializeAs="String">
        <value>-10</value>
      </setting>
      <setting name="upperISolenoid" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="dtBegTime" serializeAs="String">
        <value>07/15/2019 13:44:34</value>
      </setting>
      <setting name="dtEndTime" serializeAs="String">
        <value>07/15/2019 13:57:00</value>
      </setting>
    </FurnacesInHand.Properties.Settings>
  </userSettings>
</configuration>
